body {
    font-family: "Montserrat", "Arial";
    margin: 0;
}

header {
    padding: 50px;
    text-align: center;

}

header, footer {
    background-color: #000C7A;
    color: white;
}


header img {
    height: 250px;
    border-radius: 50%;
}

section {
    margin: 50px;
    padding: 30px;
    background-color: #E8F7FF;
    border-radius: 50px;
    color: #000C7A;
}

footer {
    padding: 10px;
    text-align: center;
}

h1 {
    font-family: "Montserrat", "Arial";
    font-weight: bold;
}

/*Montserrat SemiBold*/
@font-face {
    font-family: Montserrat;
    src: url(font/Montserrat-SemiBold.ttf);
    src: url(font/Montserrat-SemiBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Montserrat SemiBold italic*/
@font-face {
    font-family: Montserrat;
    src: url(font/Montserrat-SemiBoldItalic.ttf);
    src: url(font/Montserrat-SemiBoldItalic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

/*Montserrat Bold*/
@font-face {
    font-family: Montserrat;
    src: url(font/Montserrat-Bold.ttf);
    src: url(font/Montserrat-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

/*Montserrat Bold Italic*/
@font-face {
    font-family: Montserrat;
    src: url(font/Montserrat-BoldItalic.ttf);
    src: url(font/Montserrat-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

