body {
    background-image: url(https://i.redd.it/emzka1wnfaga1.png);
    background-color: #a8a8af;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: 
    rgb(0, 0, 0);
}

.white{
    background-color: #e8e8ee;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 4px 4px 15px rgb(12, 9, 56);
    padding-bottom: 5%;
    padding-top: 5%;
}

a{
    color: rgb(4, 233, 42);
}
